<style type="text/css">
	.form-user{
		margin: auto;
  		width: 50%;
  		padding: 10px;
	}

</style>
<main>
<div class="form-user">

<center><h1>New User</h1></center>

<%= render 'form', user: @user %>

</div>
</main>
