<style type="text/css">
  .field {
    margin: 10px 15px;
  }

  .title {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .content {
    width: 80%;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .image {
    border-width: 5px;
    border-color: black;
  }

  .form1 {
    margin-left: 100px;
  }
</style>
<div class="form1">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation" style="color: red;">
          <% post.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
      </div>
    <% end %>
    <div class="field" style="display: none;">
      <%= form.label :username %><br>
      <%= form.text_field :username, :value => current_user.username, :readonly => true %>
    </div>

    <div class="field radio_button">
      <%= form.radio_button :catagory, 'lost', checked: true %> Lost
      <%= form.radio_button :catagory, 'find' %> Find
      <%= form.radio_button :catagory, 'found' %> Found
    </div>

    <div class="field">
      <%= form.label :title %><br>
      <%= form.text_field :title, required: true, class: "title" %>
    </div>

    <div class="field">
      <%= form.label :content %><br>
      <%= form.text_area :content, required: true, class: "content" %>
    </div>

    <div class="field">
      <%= form.label :image %><br>
      <% @x = true %>
      <% if !post.cover_picture.blank? %>
        <% @x = false %>
        <img style="margin: 15px; width: 200px;" <%= image_tag(post.cover_picture) if post.cover_picture.attached? %>
        <br>
      <% end %>
      <%= form.file_field :cover_picture, required: @x, class: "image" %>
    </div>
    <center>
      <div class="actions">
        <%= form.submit class: "btn-submit" %>
        <%= submit_tag "Clear form", :class => 'btn-clear', :type => 'reset' %>
      </div>
  <% end %>
      <%= button_to "Back", root_path,:method => :get ,:class=>"btn-back"%>
    </center>
</div>
