<style type="text/css">
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  text-decoration: none;
  margin-left: 50px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}
.edit-delete{
  float: right;
  padding: 5px;
}
</style>
<main>
  <div class="typePost" align="center">
    <span class="dot1"></span>
    <span> LOST </span>
    <span class="dot2"></span>
    <span> FIND </span>
    <span class="dot3"></span>
    <span> FOUND </span>
  </div>
  <div class="notice">
  <p id="notice"><%= notice %></p>
  </div>

<div class= "post-btn">
  <% if current_user %>
    <%= link_to "Add New Post", new_post_path ,class:" btn info" %>
  <% end %>
</div>
<% @result.reverse.each do |post| %>
 <div class="card-<%= post.catagory %>" >
    <img class ="img-post-<%= post.catagory %>"style="margin: 15px; width: 200px;" <%= image_tag(post.cover_picture) if post.cover_picture.attached? %>
    <div class="post-<%= post.catagory %>">
      <div class="edit-delete">
        <% if current_user %>
      <% if current_user.username == post.username %>
        <%= link_to image_tag('/images/edit.png'), edit_post_path(post) %>
        <%= link_to image_tag('/images/delete.png',width:"30px",height:"30px"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
       <% end %>
      </div>
      <p class="post-name-<%= post.catagory %>">ชื่อโพสต์: <%= post.title %></p>
      <p class = "detail-<%= post.catagory %>" style="font-size: 16px"><%= post.content %>
      </p>
    </div>      
    <div class = "<%= post.catagory %>">
      <p>ผู้โพสต์ : <%= post.username %></p>
      <% @user_phone = User.where("username = ? ", post.username).take %>
      <p>เบอร์โทร : <%= @user_phone.phone %></p>
      <p>โพสต์เมื่อ : <%= post.created_at %></p>
      <p>แก้ไขล่าสุด : <%= post.updated_at %></p>
    </div>
  </div>
<% end %>
</main>