<!DOCTYPE html>
<html>
  <head>
    <title>Lost Find Found Cat&Dog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <% if current_user %>
      <menu>
      <%= render 'users/show'%>
      </menu>
    <% else %>
      <%= render 'sessions/new'%>
    <% end %>
    <%= yield %>
  </body>
</html>
